@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root{
    --cor-principal: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4F;

    --fonte-principal: 'VT323', monospace;
}

*{
    margin: 0;
    padding: 0;    
}

body{
    
    background-color: var(--cor-principal);
    box-sizing: border-box;
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0% 0% 20%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}
.apresentacao{
    padding: 5% 20% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%
    
}
.apresentacao__conteudo{
   width: 50%;
   display: flex;
   flex-direction: column;
   gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-family: var(--fonte-principal);
    font-size: 2.25rem;
    text-align: justify;
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
    text-align: justify;
}

.apresentacao__botoes__subtitulo{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
}

.apresentacao__botoes{    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;
    gap: 32px
    
}

.apresentacao__botoes__navegacao{
    /* background-color: var(--cor-terciaria); */
    display: flex;
    justify-content: center;
    gap: 16px;   
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);

}
.apresentacao__botoes__navegacao:hover{
    background-color: var(--cor-hover);
}
.apresentacao-imagem{
    width: 45%;
}
.rodape{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 24px 0;
    background-color: var(--cor-terciaria);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;   
}

@media(max-width: 1200px){
    
    .apresentacao-imagem{
        width: 40%;
    }
   
    .cabecalho{
        padding: 2%;        
    }

    .cabecalho__menu{
        justify-content: center;

    }

    .apresentacao{
        flex-direction: column-reverse;
        gap: 10px;
        padding: 0% 2% 20%;
    }

    .apresentacao__conteudo{
       width: 70%;
      

       
    }
    .rodape{
        position: fixed;
        bottom: 0;
        width: 100%;
        
    }

    
}
@media(max-width: 674px){
    
    .apresentacao-imagem{
        width: 30%;
    }
   
    .cabecalho{
        padding: 1%;        
    }

    .cabecalho__menu{
        justify-content: center;

    }

    .apresentacao{
        flex-direction: column-reverse;
        gap: 5px;
        padding: 0% 2% 20%;
    }

    .apresentacao__conteudo{
       width: 100%;
      

       
    }
    .rodape{
        position: fixed;
        bottom: 0;
        width: 100%;
        
    }
    
}
